<ul id="season-list" class="large-side-banners">
  {{#each seasons}}
  <li>
    <a data-show-id="{{tvshowid}}" data-season="{{season}}" href="#" class="selectable">
      <aside class="season-banner">
        {{img_season_art}}
      </aside>
      <p class="season-label">
        Season {{season}}
      </p>
      <p class="season-episode-ct">
        {{ episode }} episodes
      </p>
    </a>
  </li>
  {{/each}}
</ul>
